body {
    background-color: #f3f4f6;
  }
  
  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  main {
    padding-top: 120px;
  }
  
  #home-container {
    background-image: url("images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  